.pdfobject-container { 
	height: 100vh;
}
.pdfobject { 
	border: 1px solid #666; 
}
.footer {
	background-color: #001f3f;
	color: hsla(210, 100%, 75%, 1.0);
	padding: 15px;
	text-align: center;
}
.footer a {
	background-color: #111111;
	color: white;
	padding: 5px;
	border: 1px solid white;
}